@import './base.css';

.btn-primary {
  background-color: blueviolet;
  border-color: black;
  --bs-btn-active-bg: rgba(158, 43, 226, 1);
  --bs-btn-active-color: black;
  --bs-btn-hover-color: black;
}

.btn-primary:hover {
  background-color: rgba(158, 43, 226, 1);
  border-color: black;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(289, 92%, 45%, 0.2);
    color: white;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
  }
} */